@CHARSET "utf-8";

/*
	Author: Diego Troiani
	Obs: file for ajust element's in different media size
*/

/*
* CONTENT SUMMARY *
	- slide
	- promotions
	- notices
	- desc company
	- payment
*/

/* MAX-WIDTH: 992px */
@media only screen and (max-width : 992px) {
	/*
		- slide
		= = = = = = = = = = = = = = = = = = = =
	*/
	.caption-text section h2{
		font-size: 2.2rem;
	}
	.caption-text section h5{
		font-size: 1.5rem;
	}
	
	/*
		- notices
		= = = = = = = = = = = = = = = = = = = =
	*/
	.caption-feed h5 {
		font-size: 1.0rem;
	}
	
	/*
		- desc company
		= = = = = = = = = = = = = = = = = = = =
	*/
	#content-desc-company p {
		font-size: 1.0rem;
	}
	
	/*
		- payment
		= = = = = = = = = = = = = = = = = = = =
	*/
	#content-text-payment p {
		font-size: 1.0rem;
	}
}

/* MAX-WIDTH: 500px */
@media only screen and (max-width: 500px) {
	/*
		- slide
		= = = = = = = = = = = = = = = = = = = =
	*/
	.caption-text section h2{
		font-size: 2.2rem;
	}
	.caption-text section h5{
		font-size: 1.5rem;
	}
	
	/*
		- notices
		= = = = = = = = = = = = = = = = = = = =
	*/
	.caption-feed h5 {
		font-size: 1.0rem;
	}
	
	/*
		- desc company
		= = = = = = = = = = = = = = = = = = = =
	*/
	#content-desc-company p {
		font-size: 0.8rem;
	}
	
	/*
		- payment
		= = = = = = = = = = = = = = = = = = = =
	*/
	#content-text-payment p {
		font-size: 1.0rem;
	}
}