/* Nome da empresa na navbar */
#logo-navbar {
	font-family: 'Megrim', cursive;
}

/* Dropdown */
.dropdown-content {
	background: black;
	color: white;
}

/* Hover in line */
.dropdown-content li:hover {
	background: white;
}

/* Hover in link */
.dropdown-content a:hover {
	color: black;
}

/* Conteúdo do parallax */
.parallax-container {
	color: rgba(255, 255, 255, .9);
	min-height: 412px;
	line-height: 0;
	height: auto;
}

/* Imagem do parallax */
.parallax img {
	transition: 0.6s;
}

/* Content para texto */
.parallax-container .section {
	width: 100%;
}

/* Conteúdo com ícone */
.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

/* Notícias collection */
#ultimas-noticias {
	height: 440px;
	overflow-y: hidden;
}

/* Barra de rolagem na lista */
#ultimas-noticias:hover {
	overflow-y: scroll;
}

/* Título do item da oticia */
#ultimas-noticias li .title {
	font-size: 20px;
	font-weight: bold;
}

/* Descrição da notícia */
#descricao-noticia {
	font-size: 16px;
	line-height: 1.2;
	margin-top: 10px;
}

/* Data da notícia */
#data-noticia {
	font-size: 12px;
}

/* Li de noticia */
#ultimas-noticias li {
	transition: 0.6s;
}

/* Hover em li de noticia */
#ultimas-noticias li:hover {
	background-color: rgb(196, 23, 12);
	color: white;
	transition: 1.0s;
	cursor: pointer;
}

/* Footer */
footer.page-footer {
	margin: 0;
}

/* Visualização de dispositivos diferentes */
/* Section in parallax */
@media only screen and (max-width : 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}
	#ultimas-noticias {
		background: red;
		height: 200px;
	}
}

/* Reajuste do logo */
@media only screen and (max-width: 500px) {
	#logo-navbar {
		font-size: 18px;
	}
}