@CHARSET "utf-8";
/*
Author : Diego Troiani Rodrigues
*/

/*
* CONTENT SUMMARY *
- Variables
- General
- Header
	- Navbar
- Main
	- Slider
	- Welcome
	- Promotions
	- Notices
	- Who are we?
	- Business partnerships
	- Services
- Footer
	- Contact
	- Location
*/

/*
	- VARIABLES
	= = = = = = = = = = = = = = = = = = = =
*/
:root {
	--nav-color : rgb(0, 0, 0);
	--border-caption-content : rgb(0, 0, 0);
	--font-caption : rgb(33, 33, 33);
}


/*
	- GENERAL
	= = = = = = = = = = = = = = = = = = = =
*/
body {
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	min-height: 100vh;
}

::-webkit-scrollbar {
	/* width: 0px; */
}

/*
	- HEADER
	= = = = = = = = = = = = = = = = = = = =
*/
/* navbar */
nav {
	background: var(--nav-color);
	height: 15vh;
}

.nav-wrapper .brand-logo img {
	height: 15vh;
	filter: grayscale(75%);
	opacity: 0.5;
	transition: 0.6s;
}

.nav-wrapper .brand-logo img:hover {
	filter: none;
	opacity: 0.9;
	transition: 1.0s;
}

/*
	- MAIN
	= = = = = = = = = = = = = = = = = = = =
*/
main {
	flex: 1 0 auto;
}

/* slider */
.slider img{
	-webkit-filter: grayscale(80%);
}

.caption {
	background: rgba(255, 255, 255, 0.8);
	color: var(--font-caption) !important;
	padding: 1%;
	top: 50% !important;
	transform: translateY(-50%) !important;
}

.content-caption {
	border: 1px solid var(--border-caption-content);
	border-radius: 2px;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

.content-caption img {
	max-width: 18%;
}

.content-caption hr {
	background: var(--font-caption);
	border: 0;
	height: 1px;
	width: 60%;
}

/* welcome */
#welcome {
	text-align: center;
}

/* promotions */
#promotions {
	background: red;
	height: 75vh;
	width: 100%;
}

/* notices */
#notices {
	background: blue;
	height: 75vh;
	width: 100%;
}

#preloader {
	display: block;
	height: 80vh;
	margin: auto;
	position: relative;
	width: 100%;
}

#preloader-inner {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
}

#feed-carousel {
	display: none;
	height: 80vh;
	width: 100%;
}

.img-feed {
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: relative;
	width: 100%;
}

.desc-feed {
	background: black;
	bottom: 0;
	color: white;
	display: table;
	height: 25%;
	left: 0;
	padding: 5px;
	position: absolute;
	opacity: 0.3;
	transition: 0.6s;
	width: 100%;
}

.desc-feed:hover {
	cursor: pointer;
	opacity: 0.8;
	transition: 1.0s;
}

.desc-feed .content-desc {
	background: red;
	display: table-cell;
	vertical-align: middle;
}

.title-feed {
	font-size: 1.6rem;
	text-align: center;
}

.description {
	font-size: 1.0rem;
}

/* who are we */
#content-desc-empresa {
	background: none;
	height: 80vh;
	position: relative;
}

#desc-empresa {
	background: none;
	font-size: 1.6rem;
	left: 50%;
	position: absolute;
	text-align: justify;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

#content-logo-empresa {
	background: none;
	height: 80vh;
	position: relative;
}

#logo-empresa {
	background: none;
	left: 50%;
	max-width: 100%;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* services */
#slider-servicos {
	background: none;
	height: 80vh;
	width: 100%;
}