@CHARSET "utf-8";
/*
Author : Diego Troiani Rodrigues
*/

/*
* CONTENT SUMMARY *
- Variables
- General
- Header
	- Navbar
- Main
	- Slider
	- Promotions
	- Notices
	- Description company
	- Services
	- Payment
- Footer
	- Contact and business partnerships
	- Location
*/

/*
	- VARIABLES
	= = = = = = = = = = = = = = = = = = = =
*/
:root {
	--primary: rgb(0, 0, 0);
	--secondary: rgb(33, 33, 33);
	--sticker: rgb(244, 67, 54);
	--title-feed: rgb(245, 245, 245);
	--link-feed: rgb(239, 83, 80);
	--font-developed-by: rgb(3, 169, 244);
}


/*
	- GENERAL
	= = = = = = = = = = = = = = = = = = = =
*/
body {
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	min-height: 100vh;
}

::-webkit-scrollbar {
	/* width: 0px; */
}

/*
	- HEADER
	= = = = = = = = = = = = = = = = = = = =
*/
/* navbar */
nav {
	background: var(--primary);
	box-shadow: none;
	position: relative;
	height: 15vh;
	text-align: center;
	-webkit-box-shadow: none;
}

nav a img {
	background: var(--primary);
	height: 100%;
	opacity: 0.6;
	transition: 0.4s;
}

nav a img:hover {
	opacity: 0.9;
	transition: 0.8s;
}

/*
	- MAIN
	= = = = = = = = = = = = = = = = = = = =
*/
main {
	flex: 1 0 auto;
}

/* slide */
.slideshow {
	height: 85vh;
	width: 100%;
}

.slide-content {
	display: none;
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.slide-content img {
	height: 100%;
	filter: grayscale(75%);
	object-fit: cover;
	object-position: center;
	width: 100%;
}

.caption-container {
	align-items: center;
	background: var(--primary);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0.7;
	position: absolute;
	top: 0;
	width: 100%;
}

.caption-container .caption-media {
	display: flex;
	flex-direction: row;
	height: 30%;
	justify-content: center;
	margin-bottom: 1%;
	width: 70%;
}

.caption-media img {
	height: 100%;
	width: auto;
}

.caption-container .caption-text {
	border-left: 2px solid white;
	border-right: 2px solid white;
	color: white;
	display: flex;
	flex-direction: column;	
	height: 60%;
	justify-content: center;
	transition: 0.4s;
	width: 70%;
}

.caption-container .caption-text:hover {
	background: white;
	color: var(--primary);
	transition: 0.6s;
}

.caption-text section {
	text-align: center;
	cursor: context-menu;
}

.caption-text section h2 {
	font-weight: bold;
	font-family: 'Playfair Display', serif;
}

/* welcome text */
.content-welcome {
	margin-bottom: 0;
}

.welcome-text {
	cursor: context-menu;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	transition: 0.4s;
	opacity: 0.7;
}

.welcome-text:hover {
	opacity: 0.9;
	transition: 0.6s;
}

.welcome-text::before,
.welcome-text::after {
	background-color: var(--primary);
	content: '\a0';
	flex-grow: 1;
	height: 1px;
	position: relative;
	top: 0.5em;
}

.welcome-text::before {
	margin-right: 2%;
}

.welcome-text::after {
	margin-left: 2%;
}

/* promotions */
#promotion {
	filter: grayscale(75%);
	height: 75vh;
	position: relative;
	transition: 0.4s;
	width: 100%;
}

#promotion:hover {
	filter: grayscale(0);
	transition: 0.6s;
}

#promotion img {
	height: 100%;
	object-fit: cover;
	object-position: center;
	width: 100%;
}

#promotion .overlay-promotion {
	background: black;
	color: #76ff03;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	padding: 4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.4s;
}

#promotion .overlay-promotion h5 {
	border-top: 2px dashed white;
	border-bottom: 2px dashed white;
	color: white;
	padding: 2%;
}

#promotion .overlay-promotion:hover {
	opacity: 0.8;
	transition: 0.6s;
}

/* notices */
#preloader {
	display: none;
	height: 75vh;
	position: relative;
	width: 100%;
}

#preloader .progress {
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 60%;
}

.notices {
	display: none;
	height: 75vh;
	width: 100%;
}

.notices .message-feed {
	background: red;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	width: 100%;
}

.img-feed {
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: relative;
	width: 100%;
}

.carousel-item .caption-feed {
	justify-content: center;
	background: var(--primary);
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: 0;
	height: 40%;
	opacity: 0.3;
	padding: 2%;
	position: absolute;
	text-align: center;
	transition: 0.4s;
	width: 100%;
}

.carousel-item .caption-feed:hover {
	opacity: 0.8;
	transition: 0.6s;
}

.caption-feed .title-feed {
	color: var(--title-feed);
}

.caption-feed .link-feed {

}

/* description company */
.company {
	margin-bottom: 0;
	transition: 0.4s;
}

.desc-company {
	height: 70vh;
	position: relative;
}

.content-desc-company {
	cursor: context-menu;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

.logo-desc-company {
	height: 70vh;
	position: relative;
	transition: 1.0s;
}

.logo-desc-company img {
	filter: grayscale(100%);
	left: 50%;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 1.2s;
	width: 88%;
}

/* services */
.services {
	background: var(--primary);
	box-shadow: 0 1px 4px var(--primary);
	cursor: context-menu;
	color: white;
}

.services-title {
	cursor: context-menu;
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;
	margin-bottom: 4%;
}

.services-title::before,
.services-title::after {
	background-color: white;
	content: '\a0';
	flex-grow: 1;
	height: 1px;
	position: relative;
	top: 0.5em;
}

.services-title::before {
	margin-right: 2%;
}

.services-title::after {
	margin-left: 2%;
}

.services .col img {
	filter: brightness(5%);
	transition: 0.1s;
}

/* payment */
.payment {
	cursor: context-menu;
}

.title-payment {
	margin: 2% 0 2%;
}

.content-flag-payment {
	position: relative;
	height: 55vh;
}

.content-flag-payment img {
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 94%;
}

.content-text-payment {
	position: relative;
	height: 55vh;	
}

.content-text-payment .text-payment {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 94%;
}

/*
	- FOOTER
	= = = = = = = = = = = = = = = = = = = =
*/
/* contact and business partnerships */
#contact-bp {
	display: table;
	height: 60vh;
}

#contact-bp #content {
	cursor: context-menu;
	display: table-cell;
	vertical-align: middle;
}

/* location */
#location {
	height: 60vh;
}

#map {
	height: 100%;
}

.page-footer {
	background: var(--secondary);
}

.page-footer .footer-copyright {
	background: var(--primary);
	cursor: context-menu;
}

.footer-copyright {
	font-family: "Roboto", sans serif;
}

.footer-copyright span {
	color: var(--font-developed-by);
	filter: brightness(0.6);
	transition: 0.2s;
}

.footer-copyright span:hover {
	filter: brightness(0.9);
	transition: 0.4s;
}