@CHARSET "utf-8";
/*
Author : Diego Troiani Rodrigues
*/

/*
* CONTENT SUMMARY *
- Variables
- General
- Header
	- Navbar
- Main
	- Slider
	- Promotions
	- Notices
	- Description company
	- Services
	- Payment
- Footer
	- Contact and business partnerships
	- Location
*/

/*
	- VARIABLES
	= = = = = = = = = = = = = = = = = = = =
*/
:root {
	--primary: rgb(0, 0, 0);
	--secondary: rgb(66, 66, 66);
	--border-caption-content: rgb(0, 0, 0);
	--font-caption: rgb(33, 33, 33);
	--title-feed: rgb(245, 245, 245);
	--link-feed: rgb(239, 83, 80); 
	--footer-copyright: rgb(33, 33, 33);
	--developed-by: rgb(94, 94, 94);
}


/*
	- GENERAL
	= = = = = = = = = = = = = = = = = = = =
*/
body {
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	min-height: 100vh;
}

::-webkit-scrollbar {
	/* width: 0px; */
}

/*
	- HEADER
	= = = = = = = = = = = = = = = = = = = =
*/
/* navbar */
nav {
	background: var(--primary);
	height: 15vh;
}

.nav-wrapper .brand-logo img {
	height: 15vh;
	filter: grayscale(75%);
	opacity: 0.5;
	transition: 0.6s;
}

.nav-wrapper .brand-logo img:hover {
	filter: none;
	opacity: 0.9;
	transition: 1.0s;
}

/*
	- MAIN
	= = = = = = = = = = = = = = = = = = = =
*/
main {
	flex: 1 0 auto;
}

/* slider */
#welcome-slider {
	height: 85vh !important;
}

#welcome-slider .slides{
	background: none;
	height: 85vh !important;
}

.slider img{
	-webkit-filter: grayscale(80%);
}

.caption {
	background: rgba(255, 255, 255, 0.8);
	border-radius: 2px;
	color: var(--font-caption) !important;
	padding: 1%;
	top: 50% !important;
	transform: translateY(-50%) !important;
}

.content-caption {
	border: 1px solid var(--border-caption-content);
	border-radius: 2px;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

.content-caption img {
	margin-top: 2%;
	max-width: 18%;
}

.content-caption hr {
	background: var(--font-caption);
	border: 0;
	height: 1px;
	width: 60%;
}

/* promotions */
#promotions {
	background: red;
	height: 75vh;
	width: 100%;
}

/* notices */
#preloader {
	display: none;
	height: 75vh;
	position: relative;
	width: 100%;
}

#preloader .progress {
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 60%;
}

#notices {
	display: none;
	height: 75vh;
	width: 100%;
}

.img-feed {
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: relative;
	width: 100%;
}

.carousel-item .caption-feed {
	background: var(--primary);
	bottom: 0;
	display: table;
	left: 0;
	height: 25%;
	opacity: 0.3;
	padding: 2%;
	position: absolute;
	text-align: center;
	transition: 0.4s;
	width: 100%;
}

.carousel-item .caption-feed:hover {
	opacity: 0.8;
	transition: 0.6s;
}

.caption-feed .title-feed {
	color: var(--title-feed);
	display: table-row;
	vertical-align: middle;
}

.caption-feed .link-feed {
	display: table-row;
}

/* description company */
#desc-company {
	height: 80vh;
	position: relative;
}

#content-desc-company {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

#logo-desc-company {
	height: 80vh;
	position: relative;
}

#logo-desc-company img {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 88%;
}

/* services */
#services {
	transition: 0.8s;
}

#services .col img {
	filter: brightness(0.1);
	transition: 0.8s;
}

#services-title {
	margin-bottom: 4%;
}

/* payment */
#title-payment {
	margin: 2% 0 2%;
}

#content-flag-payment {
	position: relative;
	height: 55vh;
}

#content-flag-payment img {
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	width: 94%;
}

#content-text-payment {
	position: relative;
	height: 55vh;	
}

#content-text-payment #text-payment {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 94%;
}

/*
	- FOOTER
	= = = = = = = = = = = = = = = = = = = =
*/
.page-footer {
	background: var(--secondary);
}

.page-footer .footer-copyright {
	background: var(--footer-copyright);
}

.footer-copyright {
	font-family: "Roboto", sans serif;
}

.footer-copyright span {
	color: var(--developed-by);
}

/* contact and business partnerships */
#contact-bp {
	display: table;
	height: 60vh;
}

#contact-bp #content {
	display: table-cell;
	vertical-align: middle;
}

/* location */
#map {
	height: 60vh;
	margin-top: 2%;
}