<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- title -->
		<title>Administrador</title>
		
		<!-- font's -->
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway"
		rel="stylesheet">
		
		<!-- import's css -->
		<link href="resources/css/styleAdmin.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<!-- login -->
		<div class="container">
			<!-- logo -->
			<div class="col-logo">Coluna de formulário</div>
			
			<!-- form -->
			<div class="col-form">Coluna de formulário</div>
			
			<!-- import's js -->
			<script charset="utf-8" src="resources/js/login.js"></script>
		</div>
	</body>
</html>