<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="">

<!-- favicon -->
<link rel="shortcut icon" href="resources/img/logo-ico.ico"
	type="image/x-icon">

<title>Oficina East Custom | Bem-vindo</title>

<!-- font's -->
<link href="https://fonts.googleapis.com/css?family=Raleway"
	rel="stylesheet">

<!-- icons materialize -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<!-- materialize css -->
<link href="resources/css/materialize.css" type="text/css"
	rel="stylesheet" media="screen,projection">

<!-- dedicated css -->
<link href="resources/css/style.css" type="text/css" rel="stylesheet">
<link href="resources/css/resolution.css" type="text/css"
	rel="stylesheet" media="screen">
</head>
<body>
	<!-- HEADER -->
	<header>
		<!-- navbar -->
		<nav class="z-depth-0">
			<div class="nav-wrapper">
				<!-- logo navbar -->
				<a href="#" class="brand-logo center"><img
					src="resources/img/logo2.png"></a>
			</div>
		</nav>
	</header>
	<!-- /HEADER -->

	<!-- MAIN -->
	<main> 
		<!-- slider -->
		<div id="welcome-slider" class="slider">
			<ul class="slides">
				<li>
					<img src="resources/img/banner-principal4.jpg">
					<div class="caption">
						<div class="content-caption">
							<img src="resources/img/icon-slider1.png">
							<hr>
			          		<h3><b>EAST CUSTOM</b> | Oficina Mecânica e Injeção Eletrônica</h3>
			          		<h5>Uma das mais tradicionais da Zona Leste de São Paulo.</h5>
		          		</div>
        			</div>
				</li>
				<li>
					<img src="resources/img/banner-principal5.jpg">
					<div class="caption">
						<div class="content-caption">
							<img src="resources/img/icon-slider2.png">
							<hr>
			          		<h3>Vontade e entusiasmo em cada serviço</h3>
			          		<h5>Estamos sempre buscando evoluir nosso trabalho para aperfeiçoá-lo para <b>você</b>.</h5>
		          		</div>
        			</div>
				</li>
			</ul>
		</div>
		<!-- /slider -->

		<br>
	
		<!-- welcome -->
		<div class="row">
			<div class="col s12 m12 l12 center">
				<h4>SEJA BEM-VINDO</h4>
				<p>É com imenso prazer que recebemos você!</p>
				<div class="divider"></div>
			</div>
		</div>
		
		<!-- promotions and notices -->
		<div class="row">
			<div class="col s12 m6 l6 center">	
				<h5>Ofertas</h5>
				<p>Todo mês, uma nova oferta</p>
				<div id="promotions">
					Promoções
				</div>
			</div>
			<div class="col s12 m6 l6 center">
				<h5>Notícias</h5>
				<p>Fique por dentro do mundo automobilístico</p>
				<div id="notices">
					Notícias	
				</div>
			</div>
		</div>
		
		<!-- description company -->
		<div class="row">
			<div id="desc-company" class="col s8 m7 l7">
				<div id="content-desc-company">
					<h5>Mas afinal, o que é a East Custom?</h5>
					<div class="divider"></div>
					<p>Fundada em 2007 e sediada na Zona Leste de São Paulo, 
					a empresa <b>East Custom</b> é uma oficina com grande experiência em <b>Mecânica</b>,
					<b>Injeção Eletrônica</b> e estamos também ingressando o mais rápido possível 
					em <b>Transmissão Automática</b>.</p>
					<p>Buscamos sempre, por meio de serviços, uma experiência segura, 
					diferenciada e também uma forma totalmente eficaz para seu veículo, 
					<b>nacional</b> ou <b>importado</b>.</p>
					<p>E é com enorme prazer e satisfação, que agradeçemos à você 
					por fazer parte de nós!</p>
				</div>
			</div>
			<div id="logo-desc-company" class="col s4 m5 l5">
				<img src="resources/img/logo2.png" class="responsive-img">
			</div>
		</div>
		
		<!-- services -->
		<div class="row">
			<div id="services-title" class="col s12 m12 l12 center">
				<h5>Nossos Serviços</h5>
				<div class="divider"></div>
			</div>
			<div class="col s12 m4 l4 center">
				<img alt="" src="resources/img/mecanica.png" class="responsive-img">
				<h6><b>Mecânica</b></h6>
				<p>Toda manutenção preventiva e corretiva que seu veículo necessita dos desgastes do dia-a-dia.</p>
			</div>
			<div class="col s12 m4 l4 center">
				<img alt="" src="resources/img/injecao-eletronica.png" class="responsive-img">
				<h6><b>Injeção Eletrônica</b></h6>
				<p>Equipamentos de última geração para diagnosticar e corrigir problemas.</p>
			</div>
			<div class="col s12 m4 l4 center">
				<img alt="" src="resources/img/trans-automatica.png" class="responsive-img">
				<h6><b>Transmissão Automática</b></h6>
				<p>Diagnóstico e reparo de câmbio e corpo de válvulas para proporcionar total segurança e 
				confiança do seu veículo. </p>
			</div>
		</div>
		
		<!-- business partnerships -->
		<div class="row">
			<div id="partnerships-title" class="col s12 m12 l12 center">
				<h5>Parcerias</h5>
				<div class="divider"></div>
			</div>
		</div>
	</main>
	<!-- /MAIN -->

	<!-- FOOTER -->
	<footer class="page-footer">
		<div class="row">
			<!-- contact and payment -->
			<div id="contact-payment" class="col s12 m7 l7">
				<h5>Contato</h5>
				<div class="divider"></div>
				<p>Venha conhecer nossos serviços e tomar um café conosco!</p>
				<p class="valign-wrapper"><i class="material-icons white-text">location_on</i>
				 - Rua Alarco, nº80, Vila Guilhermina, Zona Leste, São Paulo/SP - CEP 03654-030</p>
				<p class="valign-wrapper"><i class="material-icons white-text">phone</i>
				 - 011 98183-5565</p>
				<p class="valign-wrapper"><i class="material-icons white-text">email</i>
				 - of.eastcustom@gmail.com</p>
				<br>
				<h5>Formas de Pagamento</h5>
				<div class="divider"></div>
			</div>
			
			<!-- location -->
			<div id="location" class="col s12 m5 l5">
				<h5>Onde nos encontrar?</h5>
				<div class="divider"></div>
				<div id="map" class="hoverable"></div>
			</div>
		</div>
			
		<div class="footer-copyright">
			<div class="container">
				© Oficina East Custom - CNPJ: 12.123.123/0001-01
				<span class="right">Developed by Diego Troiani</span>
			</div>
		</div>
	</footer>
	<!-- /FOOTER -->

	<!-- import's js -->
	<script src="resources/js/jquery-3.2.1.js"></script>
	<script src="resources/js/materialize.js"></script>
	<script src="resources/js/dedicated.js" charset="utf-8"></script>
	<script src="resources/js/feed.js" charset="utf-8"></script>
	<script async
		src="https://maps.googleapis.com/maps/api/js?
		key=AIzaSyB35m9rYAF0SuPQ1nGLDXrLc93gOxkxcGU&callback=initMap"></script>
</body>
</html>