<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="">
		<meta name="description" content="">
		
		<!-- icon -->
		<link rel="shortcut icon" href="resources/img/logo-ico.ico"
			type="image/x-icon">
		
		<!-- title -->
		<title>Oficina East Custom | Bem-vindo</title>
		
		<!-- font's -->
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Raleway"
			rel="stylesheet">
		
		<!-- icons materialize -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet">
		
		<!-- materialize css -->
		<link href="resources/css/materialize.css" type="text/css"
			rel="stylesheet" media="screen,projection">
			
		<!-- dedicated css -->
		<link href="resources/css/styleIndex.css" type="text/css" rel="stylesheet">
		<link href="resources/css/resolution.css" type="text/css"
			rel="stylesheet" media="screen">
	</head>
	<body>
		<!-- HEADER -->
		<header>
			<!-- navbar -->
			<nav>
				<a href="#" draggable="false">
					<img alt="Oficina East Custom" draggable="false" 
					src="resources/img/logo2.png">
				</a>
			</nav>
		</header>
		<!-- /HEADER -->
	
		<!-- MAIN -->
		<main> 
			<!-- slide -->
			<div class="slideshow">
				<div class="slide-content">
					<img alt="" src="resources/img/slide2.jpg">
					<div class="caption-container">
						<div class="caption-media">
							<img alt="" src="resources/img/icon-slider1.png">
						</div>
						<div class="caption-text">
							<section>
								<h2><b>Oficina Automotiva East Custom</b></h2>
								<h5>Uma das mais tradicionais da zona leste de São Paulo</h5>
							</section>
						</div>
					</div>
				</div>
				
				<div class="slide-content">
					<img alt="" src="resources/img/slide3.jpg">
					<div class="caption-container">
						<div class="caption-media">
							<img alt="" src="resources/img/icon-slider2.png">
						</div>
						<div class="caption-text">
							<section>
								<h2><b>Vontade e entusiasmo em cada serviço</b></h2>
								<h5>Estamos sempre buscando evoluir nosso trabalho para 
								aperfeiçoá-lo para <b>você</b></h5>
							</section>
						</div>
					</div>
				</div>
			</div>
	
			<!-- welcome text -->
			<div class="row content-welcome">
				<div class="center col s12 m12 l12">
					<h4 class="welcome-text">Seja bem-vindo</h4>
				</div>
			</div>
			
			<!-- promotions and notices -->
			<div class="row">
				<!-- promotions -->
				<div class="col s12 m5 l5">	
					<!-- promotions -->
					<div id="promotion" class="center">
						<img alt="Promoção" src="resources/img/promocao.png">
						<div class="overlay-promotion">
							<div>
								<h4><b>DIAGNÓSTICO E REVISÃO</b></h4>
								<h5>Este mês, será dado 15% de desconto na revisão e no diagnóstico.</h5>
							</div>
						</div>
					</div>
				</div>
				
				<div class="hide show-on-small">
					<div class="row">
						<div class="col s12 m12 l12">
							<div class="divider"></div>
						</div>
					</div>
				</div>
				
				<!-- notices -->
				<div class="col s12 m7 l7">
					<!-- preloader -->
					<div id="preloader">
						<div class="progress">
				        	<div class="indeterminate"></div>
					  	</div>
					</div>
					
					<!-- notices -->
					<div class="carousel carousel-slider notices"></div>
				</div>
			</div>
			
			<!-- description company -->
			<div class="company row">
				<div class="col s8 m7 l7 desc-company">
					<div class="content-desc-company">
						<h5 class="w0">Mas afinal, o que é a East Custom?</h5>
						<div class="divider"></div>
						<p>Fundada em 2007 e sediada na Zona Leste de São Paulo, 
						a <span class="w1"><b>East Custom</b></span> é uma oficina com grande experiência 
						em <span class="w2"><b>Mecânica</b></span>, 
						<span class="w3"><b>Injeção Eletrônica</b></span> e 
						estamos também ingressando o mais rápido possível 
						em <span class="w4"><b>Transmissão Automática</b></span>.</p>
						<p>Buscamos sempre, por meio de serviços, uma experiência segura, 
						diferenciada e também uma forma totalmente eficaz para seu veículo, seje
						<span class="w5"><b>nacional</b></span> ou <span class="w6"><b>importado</b></span>.</p>
						<p class="w7"></p>
					</div>
				</div>
				<div alt="Oficina East Custom" id="logo-desc-company" class="col s4 m5 l5" 
				title="Oficina East Custom">
					<img alt="Oficina East Custom" title="Oficina East Custom" src="resources/img/logo2.png" 
					draggable="false">
				</div>
			</div>
			
			<!-- services -->
			<div class="row services">
				<div class="col s12 m12 l12 center">
					<h5 class="services-title">Serviços</h5>
				</div>
				<div class="col s12 m4 l4 center">
					<img alt="Mecânica" src="resources/img/mecanica.png" class="responsive-img" 
					draggable="false" title="Mecânica">
					<h6><b>Mecânica</b></h6>
					<p>Toda manutenção preventiva e corretiva que seu veículo necessita dos desgastes do dia-a-dia.</p>
				</div>
				<div class="col s12 m4 l4 center">
					<img alt="Injeção Eletrônica" src="resources/img/injecao-eletronica.png" class="responsive-img" 
					draggable="false" title="Injeção Eletrônica">
					<h6><b>Injeção Eletrônica</b></h6>
					<p>Equipamentos de última geração para diagnosticar e corrigir problemas de forma rápida e eficiente.</p>
				</div>
				<div class="col s12 m4 l4 center">
					<img alt="Transmissão Automática" src="resources/img/trans-automatica.png" class="responsive-img" 
					draggable="false" title="Transmissão Automática">
					<h6><b>Transmissão Automática</b></h6>
					<p>Diagnóstico e reparo de câmbio e corpo de válvulas para proporcionar total segurança e 
					confiança do seu veículo. </p>
				</div>
			</div>
			
			<!-- payment -->
			<div class="row">
				<div id="title-payment" class="col s12 m12 l12 center">
					<h5>Formas de Pagamento</h5>
					<div class="divider"></div>
				</div>
				<div class="col s12 m12 l12">
					<h6><b>Crédito ou Débito</b></h6>
				</div>
				<div id="content-flag-payment" class="col s12 m4 l4">
					<img alt="Mastercard, Cielo e Visa" draggable="false"
					src="resources/img/payment.png" title="Bandeiras Mastercar, Cielo e Visa">
				</div>
				<div id="content-text-payment" class="col s12 m8 l8">
					<div id="text-payment">
						<p>Você pode usar <b>cartões de crédito ou débito </b> Mastercard, Visa ou Cielo</p>
						<p><b>Crédito</b></p>
						<p>É possível parcelar o seu pagamento em 2 vezes sem juros ou de 3 a 5 vezes com juros
						sobre as parcelas. Nas compras parceladas, a parcela mínima é de R$50,00.</p>
						<p><b>Débito</b></p>
						<p>Nessa opção, seu pagamento é automaticamente debitado de sua conta. Os Bancos 
						habilitados são: Banco do Brasil, Bradesco, HSBC, Itaú e Santander.</p>
					</div>
				</div>
			</div>
		</main>
		<!-- /MAIN -->
	
		<!-- FOOTER -->
		<footer class="page-footer">
			<div class="row">
				<!-- contact and business partnerships -->
				<div id="contact-bp" class="col s12 m6 l6">
					<div id="content">
						<h5 align="center" >Contato</h5>
						<p align="center" >Teremos o maior prazer em atendê-lo!</p>
						<div class="divider"></div>
						<p class="valign-wrapper"><i class="material-icons red-text">location_on</i>
						 - Rua Alarco, nº80, Vila Guilhermina, Zona Leste, São Paulo/SP - CEP 03654-030</p>
						<p class="valign-wrapper"><i class="material-icons green-text">phone</i>
						 - (011) 95813-4001 - WhatsApp / Vivo</p>
						 <p class="valign-wrapper"><i class="material-icons blue-text">phone</i>
						 - (011) 2093-4545 - Fixo</p>
						<p class="valign-wrapper"><i class="material-icons orange-text">email</i>
						 - of.eastcustom@gmail.com</p>
					</div>
				</div>
				
				<!-- location -->
				<div id="location" class="col s12 m6 l6">
					<div id="map" class="hoverable"></div>
				</div>
			</div>
				
			<div class="footer-copyright">
				<div class="container">
					East Custom © Copyright - CNPJ: 12.091.586/0001-26
					<span class="right">Developed by Diego Troiani</span>
				</div>
			</div>
		</footer>
		<!-- /FOOTER -->
	
		<!-- import's js -->
		<script src="resources/js/jquery-3.2.1.js"></script>
		<script src="resources/js/materialize.js"></script>
		<script async src="resources/js/dedicated.js" charset="utf-8"></script>
		<script src="resources/js/effect.js" charset="utf-8"></script>
		<script async src="https://maps.googleapis.com/maps/api/js?
			key=AIzaSyB35m9rYAF0SuPQ1nGLDXrLc93gOxkxcGU&callback=initMap"></script>
	</body>
</html>